

@media screen and (max-width: 549px) {
  .header_logo {
    height: 48px;
    margin-right: 0.5em;
  }
  .header_section {
    margin-top:1em;
    margin-left: 0;
    
    vertical-align: top; 
  }
  .header_title{
    font-weight: 200;
  font-size: 2em;
}
.header_text{
  font-weight: 100;
  text-align: right;
}

@media screen and (min-width: 850px) {
  .header_inner {
    width: 850px;
    margin-left: auto;
    margin-right: auto;
  }
}